@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome page</h2>
<hr />

    <p>@Html.ActionLink("Sign up for news", "SignUpForNews")</p>
    <p>@Html.ActionLink("Register", "Register", "Account")</p>
    <p>@Html.ActionLink("Login", "Login", "Account")</p>



