
 ul {

    margin-top: 50px;
    text-align: right;
    margin-right: -50px;
    li {
        display: inline;
        font-size: 20px;
        padding-right: 20px;
    }
}
 a:link, a:visited {
   
    color: #3F4045;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
 body {
     background-color: snow;
 }