ul {
  margin-top: 50px;
  text-align: right;
  margin-right: -50px; }
  ul li {
    display: inline;
    font-size: 20px;
    padding-right: 20px; }

a:link, a:visited {
  color: #3F4045;
  text-align: center;
  text-decoration: none;
  display: inline-block; }

body {
  background-image: url(https://umaine.edu/news/wp-content/uploads/sites/3/2016/06/Sea-Links-News-feature.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.header-text {
  position: absolute;
  top: 20%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff; }

.header-text h2 {
  font-size: 40px; }

.header-text h2 span {
  background-color: #2980b9;
  padding: 10px; }

.header-text h3 span {
  background-color: #000;
  padding: 15px; }

.btn-min-block {
  min-width: 170px;
  line-height: 26px; }

.btn-theme {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  margin-right: 15px; }

.btn-theme:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff; }

.form-sign-up {
  text-align: center; }

input[type="text"] {
  background-color: snow;
  height: 45px;
  border: 1px solid #ddd;
  font-size: 20px;
  transition: all 0.1s linear; }

.sign-up-news {
  color: #2980b9;
  font-size: 25px; }

.sign-up {
  font-size: 15px;
  font-weight: 600; }

